@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-gold: #d4ad5f;
  --secondary-silver: #dcdcdc;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
 :root {
  --font-outfit: 'Outfit', sans-serif;
}

body {
  font-family: var(--font-outfit);
}

@media (max-width: 426.98px) {
    .video-section{
      margin-top: 140px;
    }
    .hero-video{
   width: 300px;

    }
    .mar{
      margin-right: 15px;
    }
}
@media (max-width: 376.98px) {
    .video-section{
      margin-top: 100px;
    }
    .mar{
      margin-right: 60px;
    }
}
@media (max-width: 321.98px) {
    .hero-video{
      width: 200px;
      height: 350px;

    }
}
.hero-video{
   width: 400px;
   height: 450px;
   margin: 0 auto;
}